img {
  width: 100%;
  border-radius: 12px;
  height: 214px;
  object-fit: cover;
  margin-top: 15px;
}

.inventory {
  color: blue;
  font-size: 25px;
}

#randomNumber {
  font-size: 25px;
}


.href {
  font-size: 20px;
}

.Welcome {
  text-align: center;
  color: brown;
}

.Second {
  text-align: center;
  color: blue;
}


img.record {
  display: none;
}



.record2 {
  font-size: 20px;
}

.record2:hover img.record {
  display: block;
  width: 80%;
  height: 1200px;
  object-fit: cover;
}

.space {
  margin-top: 50px;
}


.reset {
  display: inline-block;
}



body {
  background-color: #eaeff1;
  font-family: "Raleway", sans-serif;
}

/* https://www.w3schools.com/w3css/w3css_containers.asp */
#container {
  max-width: 300px;

  /* Center the container in middle on horizontal axis */
  margin: 0 auto;

  /* Add empty space above the container (20% of the view height) */
  margin-top: 2vh;
}

#reset {
  display: inline-block;
}

.submission {
  display: inline-block;
}

/* https://www.w3schools.com/howto/howto_css_cards.asp */
.card {
  background-color: white;
  border: 1px solid #bacdd8;
  padding: 8px;
  width: 10%;
  border-radius: 12px;
  display: inline-block;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



@keyframes fadeOut {
  100% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }
}

#remove-card- {
  opacity: 1;
  transition: opacity 1s;
}

#remove-card-.fade {
  opacity: 0;
}

.card.fade {
  opacity: 0;
}

.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;

  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}


.name {
  margin-top: 5px;
  width: 100%
}

p {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}


/* https://www.w3schools.com/css/css3_buttons.asp */
button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  display: inline-block;
  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.card__details {
  padding: 16px 8px 8px 8px;
}

button:focus,
button:hover {
  background-color: #0077ff;
  color: #e0efff;
}

p.aboutMe {
  font-size: 20px;
  color: black;
}

.form {
  background-color: white;
  margin-top: 10px;
  max-width: 700px;
}


.name {
  margin-top: 15px;
}

.description {
  margin-top: 15px;
}

.price {
  margin-top: 15px;
}

.img {
  margin-top: 15px;
}